.body{
    background-color: #EEEEEE;
}
.block-1{
    font-size: 40px;
    margin-bottom: 100px;
}
.img-block-1{
    width: 960px;
}

.block-2{
    font-size: 40px;
    margin-bottom: 100px;
}
.img-block-2{
    width: 960px;
}

.block-3{
    font-size: 40px;
    margin-bottom: 100px;
}
.img-block-3{
    width: 960px;
}
.detail-block-3{
    font-size: 32px;
}

.block-4{
    font-size: 40px;
    margin-bottom: 100px;
}
.img-block-4{
    width: 960px;
}
.detail-block-4{
    font-size: 32px;
}

.block-5{
    font-size: 40px;
    margin-bottom: 100px;
}
.img-block-5{
    width: 960px;
}
.detail-block-5{
    font-size: 32px;
}
.img-block-5-1{
    width: 960px;
}


.block-6{
    font-size: 40px;
    margin-bottom: 100px;
}
.img-block-6{
    width: 960px;
}
.detail-block-6{
    font-size: 32px;
}
.img-block-6-1{
    width: 960px;
}
.img-block-6-2{
    width: 960px;
}